* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-background);
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 
 /* dark mode variables: */
 :root{
    
    --color-primary: #30343f;
    --color-secundary: #252935;
    --color-background: #191e2b;
    --color-input: #393e49;
    --color-text:#ffffff;
    --font-size-text: 12px;
    --padding-min: 0 10px;
    --border-radius: 3px;
    --color-hover-button: #4e5565; 
  }

   /* light mode variables:  */
   [code-light="light-mode"]{
    --color-primary: #e0e0e0;
    --color-secundary: #eeeeee;
    --color-background: #fafafa;
    --color-input: #e0e0e0;
    --color-text:#424242;
    --color-hover-button: #bdbdbd;
}  


/* HEADER */

.central__container{
    display: flex;
  
}

.tittle{
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--color-text);
}

.buttons__container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.button__box{
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    padding: 16px;
    font-size: var(--font-size-text);
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 4px;
}

.button__box:hover{
  background-color: var(--color-hover-button) ;
}

.icon-btn{
    margin-right: 6px;

}

.fa-lightbulb{
  border-color: var(--color-text);

}

.button__download{
    background-color: #4db352;
    color: var(--color-text);
    margin-top: 30px;
    padding: 16px ;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}


/* // MAIN */

.generator__container{
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* background-color: var(--color-primary); */
}

.generator__meme{
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  height: 600px;
}

.generator__textop{
    width: 100%;
    background-color: white;
    color: black;
    align-items: center;
}

.generator__textbottom{
    width: 100%;
    background-color: white;
    color: black;
    align-items: center;
}

.generator__paragraph{
    padding: 35px;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    position: static;
}

.generator__img{
    width:100%;
    height: 400px;
    background-color: black;
    background-size: cover;
    flex-grow: 1;
}

aside{  
    display: none;
    width: 20vw;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: var(--color-secundary);
    overflow: scroll;
}

.close__btn{
    border-radius: var(--border-radius);
    position: fixed;
    right: 20px;
    top: 6px;
    cursor: pointer;
    background-color: var(--color-secundary);
    border: none;
}

 .image__content{
    padding: 0 12px;
  
} 

.image__subtittle, .text__tittle{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    color: var(--color-text)
}

.image__item{
    display: flex;
    flex-direction: column;
    padding: var(--padding-min);
    border: none;
}

.image__url{
  width: 100%;
  height: 35px;
  border-radius: var(--border-radius);
  border: none;
}

.subtittle{
    font-size: var(--font-size-text);
    margin: 16px 0;
    color: var(--color-text)
}

.background__box{
    display: flex;
    flex-direction: column;
}

.background__select, .background__item{
    border: none;
}

.background__options{
    display: flex;
    justify-content: space-around;
}

.backgroundcolor__img, .background__option, .superior__text, .inferior__text, .font__select, .fontsize__item, .text__color, .background__color,.spacing__input, .lineheight__input{
    width: 100%;
    height: 35px;
    background-color: var(--color-input);
    border: none;
    border-radius: var(--border-radius);
    color: var(--color-text);
    margin-bottom: 6px;
    padding: 5px 10px;
}

.filters__items{
    font-size: var(--font-size-text);
    border: none;
    margin-top: 15px;
    color: var(--color-text);
    
}

.filter__choice{
    padding: 0 10px;
}

.reset__btn{
    background-color: var(--color-input);
    color: var(--color-text);
    margin-top: 30px;
    padding: 14px ;
    border-radius: 8px;
    border: none;
}
    

/* input filter styles */
input[type=range].filter__choice {
    width: 100%;
    margin: 1.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range].filter__choice:focus {
    outline: none;
  }
  input[type=range].filter__choice::-webkit-slider-runnable-track {
    background: #a9a9a9;
    border: 0.5px solid #110101;
    border-radius: 4.2px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range].filter__choice::-webkit-slider-thumb {
    margin-top: -2.3px;
    width: 11px;
    height: 12px;
    background: rgba(118, 107, 95, 0.8);
    border: 1px solid #0f0b0a;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range].filter__choice:focus::-webkit-slider-runnable-track {
    background: #b8b8b8;
  }
  input[type=range].filter__choice::-moz-range-track {
    background: #a9a9a9;
    border: 0.5px solid #110101;
    border-radius: 4.2px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range].filter__choice::-moz-range-thumb {
    width: 11px;
    height: 12px;
    background: rgba(118, 107, 95, 0.8);
    border: 1px solid #0f0b0a;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type=range].filter__choice::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 2.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range].filter__choice::-ms-fill-lower {
    background: #9a9a9a;
    border: 0.5px solid #110101;
    border-radius: 8.4px;
  }
  input[type=range].filter__choice::-ms-fill-upper {
    background: #a9a9a9;
    border: 0.5px solid #110101;
    border-radius: 8.4px;
  }
  input[type=range].filter__choice::-ms-thumb {
    width: 11px;
    height: 12px;
    background: rgba(118, 107, 95, 0.8);
    border: 1px solid #0f0b0a;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range].filter__choice:focus::-ms-fill-lower {
    background: #a9a9a9;
  }
  input[type=range].filter__choice:focus::-ms-fill-upper {
    background: #b8b8b8;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range].filter__choice {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }
  

/* 
  TEXT SECTION */

label, span{
  font-size: 12px;
  color: var(--color-text);
  padding: 0 10px;

}

fieldset{
  border: none;
}

.text__container{
  padding: 0 12px;
  display: none;
}

.fontsize__container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
}

.fontsize__btn{
  /* width: 25%; */
  height: 35px;
  background-color: var(--color-input);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-text);
  margin-bottom: 6px;
  padding: 5px 50px;

}

.align__btn{
  /* width: 25%; */
  height: 35px;
  background-color: var(--color-input);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-text);
  margin-bottom: 6px;
  padding: 5px 15px;
}

.color__container{
  display: flex;
  justify-content: space-between;
}

.color__text{
  width: calc(50% - 5px);
  margin-bottom: 0;
}

.color__background{
  width: calc(50% - 5px);
  margin-bottom: 0;
}

.contorn__item{
  display: flex;
  justify-content: space-around;
}

.contorn__btn{
  width: 30%;
  height: 35px;
  background-color: var(--color-input);
  border: none;
  border-radius: var(--border-radius);
  color: var(--color-text);
  margin-bottom: 6px;
  padding: 5px 10px;
}


 .texts__color, .text__backgroundcolor{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);


 } 

 .hidden{
  display: none;
 }


/* MEDIAS QUERIES */
 @media (min-width: 1300px) {
   aside {
    display: block;
  }

  .close__btn{
    /* display: none; */
  }

 }

 @media (max-width: 700px) {
 aside{
  width: 100vw;
 }

 }




